* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta Mahee', sans-serif;
}

@mixin custom-h1-style {
    font-size: 80px;
    font-family: "Playfair Display", times, serif;
    color: #fff;
    line-height: 1;
    font-weight: bold;
    margin: 0px 0px 8px;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 32px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;

    .nav-container {
        max-width: 100%;
        padding: 0 16px;
        margin: 0 auto;

        .navbar {
            padding: 50px 0px;
            display: flex;
            justify-content: space-between;

            h2 {
                font-style: italic;
                font-size: 30px;
                color: #fff;
                font-weight: bold;
                line-height: 1;
                font-family: 'Playfair Display', serif;
            }

            .nav-menu {
                i {
                    font-size: 30px;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

#modal-container {
    position: fixed;
    display: none;
    justify-content: space-between;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
   span{
    position: absolute;
    right: 20px;
    font-size: 80px;
    cursor: pointer;
   }
    .modal-list {
        margin:  0 auto;
        width: 80%;
        padding-top: 100px;
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: #000;
                font-size: 40px;
            }
        }
    }
    .modal-text{
        margin:  0 auto;
        width: 80%;
        padding-top: 100px;
    }
}

#banner {

    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url('../images/hero_1.jpg.webp');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../images/hero_1.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;

    .banner {
        .banner-text {
            text-align: center;

            h1 {
                @include custom-h1-style()
            }

            p {
                font-size: 30px;
                font-weight: 200;
                color: #fff;
                line-height: 1.5;
            }
        }

        .banner-btn {
            text-align: center;

            button {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 50px;
                cursor: pointer;
            }

            .banner-btn-one {
                color: #fff;
                background-color: #e61c5d;
                border-color: #e61c5d;
                letter-spacing: 3px;
            }

            .banner-btn-two {
                background: transparent;
                color: #fff;
                letter-spacing: 2px;
                border: solid 1px white;


            }
        }
    }
}

#about {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        text-align: left;
        font-size: 15px;
        color: #b3b3b3;
        font-weight: 200;
        letter-spacing: 3px;
        margin: 0 0 30px;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .about-box {
            .about-image {
                max-width: 100%;
                padding-bottom: 10px;

                img {
                    max-width: 100%
                }
            }

            a {
                color: #000;
                font-size: 22px;
                font-family: p;
                text-decoration: none;

            }

            .about-stars {
                display: flex;
                justify-content: space-between;

                .about-left {
                    i {
                        color: #e61c5d;
                        font-size: 12px;
                    }

                }

                .about-right {
                    p {
                        text-align: right;
                        color: #adb5bd;
                        font-size: 16px;
                    }
                }

            }

            p {
                text-align: right;
            }


        }

    }
}

#carousel {
    position: relative;
    padding-top: 100px;


    .carousel {
        z-index: 10;

        .carousel-text {
            width: 70%;
            margin: 0 auto;

            h2 {
                text-align: center;
                font-size: 80px;
                font-family: "Playfair Display", times, serif;
                color: #000000;
                line-height: 1;
                font-weight: 300;
                margin: 0px 0px 8px;
            }

            p {
                margin: 0 0 16px;
                color: #6c757d;
                font-size: 20px;
                text-align: center;
                line-height: 1.8;
                font-weight: 300;
            }

        }

    }

    #recent {
        margin-top: -300px;
        padding-top: 300px;
        width: 100%;
        padding-top: 600px;
        padding-bottom: 100px;
        background-position: center center;
        background-image: url('../images/round.png.webp');

        .recent {
            .recent-text {
                width: 70%;
                margin: 0 auto;

                h2 {
                    text-align: center;
                    font-size: 80px;
                    font-family: "Playfair Display", times, serif;
                    color: #000000;
                    line-height: 1;
                    font-weight: 300;
                    margin: 0px 0px 8px;
                }

                p {
                    margin: 0 0 16px;
                    color: #6c757d;
                    font-size: 20px;
                    text-align: center;
                    line-height: 1.8;
                    font-weight: 300;
                }

            }
        }
    }
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1a1a1a;

    .footer {
        padding-top: 40px;
        border-top: 0.1px solid #ffffff80;
        display: flex;
        justify-content: space-between;

        .footer-text {
            p {
                color: #ffffff80;
            }
        }

        .footer-icon {
            i {
                color: #ffffff80;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }

}